* {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-weight: normal;
  font-family: var(--font-family-main);
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

input {
  all: unset;
}

textarea,
textarea:focus {
  font-family: 'roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* make your choice */
  font-size: 11px; /* make your choice */
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-apperarance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  padding: 0px;
  resize: none;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
