/* stylelint-disable custom-property-empty-line-before */
:root {
  --font-family-main: 'Roboto', sans-serif;

  --font-size-s: 12px;

  --font-size-m: 16px;

  --font-size-l: 24px;

  --font-size-xl: 32px;
}

@media (width < 1024px) {
  :root {
    --font-size-s: 10px;

    --font-size-m: 14px;

    --font-size-l: 20px;

    --font-size-xl: 28px;
  }
}

@media (width < 768px) {
  :root {
    --font-size-s: 8px;

    --font-size-m: 13px;

    --font-size-l: 18px;

    --font-size-xl: 25px;
  }
}

@media (width < 425px) {
  :root {
    --font-size-s: 8px;

    --font-size-m: 12px;

    --font-size-l: 15px;

    --font-size-xl: 22px;
  }
}

@media (width < 375px) {
  :root {
    --font-size-m: 10px;

    --font-size-l: 12px;

    --font-size-xl: 15px;
  }
}
