.EditUserProfileAbout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.name {
  border-bottom: 5px solid var(--color-calm);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.about {
  flex-grow: 1;
  background: var(--color-primary);
  border-radius: 15px;
  padding: 10px;

  p {
    border-bottom: 2px solid var(--color-calm);
    margin-bottom: 5px;
    padding-bottom: 3px;
  }
}
