.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  max-width: 60%;
  z-index: var(--z-index-modal);
}
