.Button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  cursor: pointer;
}

.clear {
  background: none;
}

.calm {
  background: var(--color-calm);
  color: var(--color-primary);
  border-radius: 15px;

  &:hover {
    background: var(--color-calm-hover);
  }
}

.success {
  background: var(--color-success);
  color: var(--color-primary);
  border-radius: 15px;

  &:hover {
    background: var(--color-success-hover);
  }
}

.attention {
  background: var(--color-attention);
  color: var(--color-primary);
  border-radius: 15px;

  &:hover {
    background: var(--color-attention-hover);
  }
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.s {
  font-size: var(--font-size-s);
}

.m {
  font-size: var(--font-size-m);
}

.l {
  font-size: var(--font-size-l);
}

.xl {
  font-size: var(--font-size-xl);
}
