.InputWrapper {
  width: 100%;
  display: flex;

  &.maxWidth {
    input {
      width: 100%;
    }
  }
}

// INPUT IN AUTHORIZATION FORM

.InputWrapper {
  &.form-input {
    border-bottom: 1px solid var(--color-placeholder);

    .addon {
      max-width: 30px;
      max-height: 30px;
    }

    .addonLeft {
      color: var(--color-placeholder);
      padding-right: 1px;
    }

    .addonRight {
      color: var(--color-placeholder);
      padding-left: 1px;
    }

    .input {
      color: var(--color-black);
    }

    &.focused {
      border-bottom: 1px solid var(--color-calm);
    }

    &.readonly.focused {
      border-bottom: 1px solid var(--color-placeholder);
    }

    &.error {
      animation: var(--animation-shake);
      border-bottom: 1px solid var(--color-attention);

      input {
        color: var(--color-attention);

        &::placeholder {
          color: var(--color-attention);
        }
      }
    }
  }
}

// INPUT IN USER PROFILE
.InputWrapper.dark-pick {
  .input {
    background: var(--color-title);
    color: var(--color-primary);
    font-weight: 900;
    border-radius: 15px;
  }
}

// OTHER CONDITIONS

.readonly {
  cursor: default;
}

.s {
  font-size: var(--font-size-s);
}

.m {
  font-size: var(--font-size-m);
}

.l {
  font-size: var(--font-size-l);
}

.xl {
  font-size: var(--font-size-xl);
}
