.ConnectRoom {
  height: 100%;
}

.text {
  margin-bottom: 15px;
}

.button {
  font-weight: 700;
  margin-bottom: 15px;
}

.avatar {
  margin-right: 5px;
}

.already {
  margin-bottom: 10px;
}

.more {
  margin-top: 10px;

  span {
    color: var(--color-placeholder);
  }
}
