.block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px 1fr 1fr 1fr;
  grid-gap: 30px 30px;
  // grid-auto-rows: minmax(0, auto);
}

.button {
  width: 100%;
  font-weight: 800;
}
