:root {
  --color-background: #fff;
  --color-primary: #fff;
  --color-block: #d6e2e2;
  --color-black: #000;
  --color-title: #0e0e43;
  --color-placeholder: #6b7171;
  --color-attention: #d2042d;
  --color-calm: #482fe7;
  --color-calm-hover: #381ee3;
  --color-success: #22e035;
  --color-success-light: #7cfc00;
  --color-skeleton: #7b74744d;
  --color-skeleton-gradient: #d9d6d6;
  --color-overlay: rgba(0, 0, 0, 0.5);
}
