:root {
  --color-background: #fff;
  --color-primary: #fff;
  --color-block: #d6e2e2;
  --color-title: #0e0e43;
  --color-placeholder: #6b7171;
  --color-attention: #d2042d;
  --color-calm: #482fe7;
  --color-success: #22e035;
  --color-success-light: #7cfc00;
}
