.tag {
  color: var(--color-primary);
  background: var(--color-title);
  overflow: hidden;
  border-radius: 15px;
  padding: 5px;
  margin: 0 5px 5px 0;
}

.important {
  color: var(--color-attention);
}
