.TextareaWrapper {
  width: 100%;
  display: flex;

  .textarea {
    padding: 3px 0px;
    width: 100%;
  }
}

.TextareaWrapper.form-textarea.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  border-bottom: 1px solid var(--color-attention);

  textarea {
    color: var(--color-attention);

    &::placeholder {
      color: var(--color-attention);
    }
  }
}

.TextareaWrapper.form-textarea {
  .textarea {
    font-size: var(--font-size-l);
    color: var(--color-black);
  }
}

.readonly {
  cursor: default;
}

.maxHeight {
  height: 100%;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
