.EditUserProfilePick {
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 15px;
  padding: 10px;

  .limit {
    margin-bottom: 5px;
  }

  .limitError {
    animation: var(--animation-shake);
  }

  .limitTextError {
    color: var(--color-attention);
    animation: var(--animation-shake);
  }

  .new {
    margin-bottom: 10px;
    height: 50px;

    .input {
      height: 100%;
      margin-right: 10px;

      input {
        padding: 10px;
        border-radius: 15px 0px 0px 15px;
      }
    }

    .add {
      height: 100%;
      padding: 5px;
      font-size: 20px;
      border-radius: 0px 15px 15px 0px;
      border: 5px solid var(--color-title);
      color: var(--color-success);
      transition: 0s all;

      &:hover {
        border: 5px solid var(--color-success);
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
}

.button {
  font-weight: 900;
  padding: 10px;
}
